.box1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom right, dodgerblue, yellow);
}

.box2 {
  width: 600px;
  height: 200px;
  background: radial-gradient(circle at top left, dodgerblue, yellow);
}

/*
 * Why do we provide two background properties?
 * Because some old browsers do not understand gradient colors.
 * They can always fall back onto the RGB color and ignore the gradient color.
*/
.box3 {
  width: 600px;
  height: 200px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
