<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe
        quidem est deleniti exercitationem ipsam optio eligendi qui impedit odio
        numquam quos incidunt pariatur, nesciunt odit eaque error, quibusdam et
        nemo! Minima maxime, error id natus commodi saepe voluptatum nobis dolor
        quas ipsa eius sequi molestiae, illum perferendis perspiciatis.
        Distinctio.
      </p>
    </div>
  </body>
</html>
