p::first-letter {
  font-size: 140%;
  font-weight: bold;
}

p::first-line {
  text-decoration: underline;
}

::selection {
  background-color: pink;
}

p::before {
  content: "...";
  display: block;
}
