<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <p class="clear">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
        est pariatur? Numquam magnam expedita non. Dolorum minima ratione, neque
        corporis laudantium similique cupiditate explicabo voluptatum, ex quo
        fugiat eveniet quos magnam fuga rerum mollitia. Quae et tenetur numquam
        quos ea magnam debitis architecto praesentium autem. Dolorum sit fugit
        repellendus.
      </p>
    </article>
  </body>
</html>
