<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          libero dolore harum? Eum ex nulla vero veniam, corporis ratione odit
          error, ipsum sit voluptates quae veritatis deserunt quisquam beatae
          optio totam, sequi libero ullam quos! Facilis minima non modi iure ad
          voluptatem optio sit unde! Doloribus earum natus iste cumque.
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, eum
          excepturi incidunt nobis repellendus ut beatae pariatur magni quo rem
          consequatur aut illo deserunt vero voluptate, sit aliquid nihil.
          Laudantium qui ipsam rem. Non debitis quos doloribus adipisci
          voluptates? Quos, autem sunt ab aperiam delectus eveniet iste
          necessitatibus facere libero.
        </p>
      </div>
    </div>
  </body>
</html>
